rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /items/{id} {
      allow read: if true;
      allow write: if request.auth != null
                   && request.auth.token.email == 'omeriane0@gmail.com';
    }
  }
}
